alabaster==0.7.13
Babel==2.12.1
beautifulsoup4==4.11.2
certifi==2022.12.7
charset-normalizer==3.0.1
colorama==0.4.6
docutils==0.18.1
furo==2022.12.7
idna==3.4
imagesize==1.4.1
Jinja2==3.1.2
linkify-it-py==2.0.0
livereload==2.6.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
mdit-py-plugins==0.3.4
mdurl==0.1.2
myst-parser==0.19.1
packaging==23.0
Pygments==2.14.0
PyYAML==6.0
requests==2.28.2
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.4
Sphinx==5.3.0
sphinx-autobuild==2021.3.14
sphinx-basic-ng==1.0.0b1
sphinx-rtd-theme==1.2.0
sphinx_design==0.3.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-fulltoc==1.2.0
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tornado==6.2
uc-micro-py==1.0.1
urllib3==1.26.14
