CONDUCTOR_INTERNAL_PORT=8000
CONDUCTOR_EXTERNAL_PORT=8080
COUCHDB_EXTERNAL_PORT=5984
COUCH_AUTH_PROXY_EXTERNAL_PORT=5985
# Used by docker-compose interpolation for couch-auth-proxy admin creds
COUCHDB_USER=admin
COUCHDB_PASSWORD=aSecretPasswordThatCantBeGuessed
COUCH_AUTH_PROXY_CORS_ORIGINS=http://localhost:3000,http://localhost:3001