PROFILE_NAME=fieldmark-demo
DEVELOPER_MODE=false

# Public name for this instance
CONDUCTOR_INSTANCE_NAME="Fieldmark Demo Server"
CONDUCTOR_DESCRIPTION="Demo server for evaluation of Fieldmark"
CONDUCTOR_SHORT_CODE_PREFIX="DEMO"
SUBDOMAIN=demo.fieldmark.app

COUCHDB_PUBLIC_URL=https://db.${SUBDOMAIN}
CONDUCTOR_PUBLIC_URL=http://conductor.${SUBDOMAIN}

COUCHDB_PASSWORD=<a COUCHDB_PASSWORD

CONDUCTOR_INTERNAL_PORT=8000

CONDUCTOR_AUTH_PROVIDERS=google

FAIMS_COOKIE_SECRET=<a secret>
COMMIT_VERSION=<output of `git rev-parse HEAD`>

GOOGLE_CLIENT_ID=<client id>
GOOGLE_CLIENT_SECRET=<client secret>
