.fieldmark-button {
    text-size-adjust: 100%;
    visibility: inherit;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    margin: 0px;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    padding: 3px 9px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid rgba(102, 153, 17, 0.5);
    color: rgb(102, 153, 17);
    box-shadow: none;
    background-color: rgb(237, 238, 235) !important;
}
.blue-button {
    text-size-adjust: 100%;
    visibility: inherit;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 16px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(237, 238, 235);
    background-color: rgb(102, 153, 17);
    box-shadow: none;
}

.workspace-button{
    text-size-adjust: 100%;
    visibility: inherit;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 0px 0px 16px;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(102, 153, 17);
}

.orange-button {
        text-size-adjust: 100%;
    visibility: inherit;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 8px 0px 0px;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 16px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(255, 255, 255);
    background-color: rgb(225 ,130, 0);
    box-shadow: none;
}

.green-published{
    text-size-adjust: 100%;
    visibility: inherit;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.43;
    -webkit-tap-highlight-color: transparent;
    max-width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8125rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 24px;
    color: rgb(255, 255, 255);
    background-color: rgb(50, 76, 8);
    border-radius: 16px;
    white-space: nowrap;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: default;
    outline: 0px;
    text-decoration: none;
    border: 0px;
    padding: 0px;
    vertical-align: middle;
    box-sizing: border-box;
    text-transform: capitalize;

    text-size-adjust: 100%;
    visibility: inherit;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.43;
    -webkit-tap-highlight-color: transparent;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8125rem;
    color: rgb(255, 255, 255);
    cursor: default;
    text-transform: capitalize;
    box-sizing: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 8px;
    padding-right: 8px;
    white-space: nowrap;}


.orange-local{
    text-size-adjust: 100%;
    visibility: inherit;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.43;
    -webkit-tap-highlight-color: transparent;
    max-width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8125rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 24px;
    color: rgb(255, 255, 255);
    background-color: rgb(225, 130, 0);
    border-radius: 16px;
    white-space: nowrap;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: default;
    outline: 0px;
    text-decoration: none;
    border: 0px;
    padding: 0px;
    vertical-align: middle;
    box-sizing: border-box;
    text-transform: capitalize;

    text-size-adjust: 100%;
    visibility: inherit;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.43;
    -webkit-tap-highlight-color: transparent;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8125rem;
    color: rgb(255, 255, 255);
    cursor: default;
    text-transform: capitalize;
    box-sizing: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 8px;
    padding-right: 8px;
    white-space: nowrap;}

.blue-tab{
        text-size-adjust: 100%;
    visibility: inherit;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    border-radius: 0px;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    line-height: 1.25;
    text-transform: uppercase;
    max-width: 360px;
    min-width: 90px;
    position: relative;
    min-height: 48px;
    flex-shrink: 0;
    padding: 12px 16px;
    overflow: hidden;
    white-space: normal;
    text-align: center;
    flex-direction: column;
    color: inherit;
    font-weight: bold;

        text-size-adjust: 100%;
    visibility: inherit;

    font-size: 1rem;
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    box-sizing: inherit;
    position: relative;
    display: inline-block;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: auto hidden;
    margin-bottom: 0px;


    background-color: rgb(102, 153, 17);
    color: rgb(255,255,255);
}

.red-snack{
        text-size-adjust: 100%;
    visibility: inherit;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.43;
    color: rgb(255, 255, 255);
    box-sizing: inherit;
    padding: 8px 0px;
    min-width: 0px;
    overflow: auto;

        text-size-adjust: 100%;
    visibility: inherit;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    border-radius: 4px;
    box-shadow: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.43;
    background-color: rgb(225, 130, 0);

    padding: 6px 16px;
    color: rgb(255, 255, 255);
    opacity: 1;
    transform: none;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}


.green-snack{
        text-size-adjust: 100%;
    visibility: inherit;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.43;
    color: rgb(255, 255, 255);
    box-sizing: inherit;
    padding: 8px 0px;
    min-width: 0px;
    overflow: auto;

        text-size-adjust: 100%;
    visibility: inherit;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    border-radius: 4px;
    box-shadow: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.43;
    background-color: rgb(46, 125, 50);

    padding: 6px 16px;
    color: rgb(255, 255, 255);
    opacity: 1;
    transform: none;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.red-button{
        text-size-adjust: 100%;
    visibility: inherit;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    padding: 5px 15px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid rgba(225, 130, 0, 0.5);
    color: rgb(225, 130, 0);
}

.caption{
    margin-bottom: 0.5em !important;
}

p > img {
    margin-top: 1em;
    margin-bottom: 1em;
}

.refresh{
    text-size-adjust: 100%;
    visibility: inherit;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px currentcolor;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    padding: 4px 5px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: inherit;
}
