
<div class="form-signin w-100 m-auto">

    {{#if messages.message}}
    <div class="alert alert-success">{{messages.message}}</div>
    {{/if}}

    <div class="form-signin w-100 m-auto text-center">
     <h3 class="h3 mb-3 fw-normal" style="margin-top:50px">Sign In</h3>
    <p class="">Please select an authentication provider</p>
    </div>
    
    <form>

    {{#each providers}}
    <a href="/auth/{{ this.label }}/" class="w-100 btn btn-lg btn-primary"
            style="background-color:#669911;">{{ this.name }}</a>
    {{/each}}
 
    <div class=" w-100 m-auto text-center">
    <p>If the provider you chose fails to work, try a different browser, and see
    any provider-specific advice in the user documentation.
    </p>
    </div>
</form>

{{#if localAuth}}
<h2>Local Login</h2>
<form method="post" action="/auth/local">
  <div class="mb-3">
    <label for="InputIdentifier" class="form-label">Username or Email address</label>
    <input type="text" name="username" class="form-control" id="InputIdentifier">
  </div>
  <div class="mb-3">
    <label for="InputPassword" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="InputPassword">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{/if}}

</div>

