<div>
    <div class="btn-group mt-2 mb-4 w-100" role="group">
        <a href="/send-token/" class="w-100 btn btn-outline-primary" >Return to App<i class="bi bi-arrow-return-left"></i></a>
    </div>
</div>

<div class="card-group">
  
        <div class="card">
          <div class="card-header">
            Assigned Roles
          </div>
          <div class="card-body">
              {{{ project_roles }}}
            <ul>
              {{#each other_roles}}
                <li>{{ this }}</li>
              {{/each}}
            </ul>
        </div>

        <div class="card">
          <div class="card-header">
            Switching User?
          </div>
          <div class="card-body">
              <p class="card-text">To sign in as a different user, you need to
                 <a href="/logout/">logout</a> first.</p>
          </div>
        </div>

      <div class="card">
      <div class="card-header">
            Need Bearer Token for API Access?
          </div>
           <div class="card-body">
            <p class="card-text">Click below to copy the token that can be used to authenticate
              in scripts that use the API.
            </p>
            <p class="card-text">
            <div class="btn-group mt-2 mb-4 w-100" role="group">
              <a class="w-100 btn btn-outline-primary" onClick="copyTokenToClipboard()">Copy Bearer Token to Clipboard</a>
            </div>
            </p>
            <p class="card-text">
              <details>
                <summary>Show Bearer Token</summary>
                  <textarea disabled cols="70" rows="15">{{{token}}}
                  </textarea>
                </details>
              </p>
            </div>
      </div>


</div>


  <script>
const copyTokenToClipboard = () => {

    navigator.clipboard.writeText("{{{token}}}").then(() => {
        alert("Bearer token copied to clipboard.")
    }, () => {
            alert("Could not copy token.")
    });
}

</script>
