<h2>Redirect Error</h2>

<p>The redirect URL provided is not allowed on this server. If you believe this
  is a mistake, please contact your system administrator.</p>

<a class='btn btn-primary' href='{{redirect}}'>Return to the app.</a>