<h1>Remove Role from User in Project</h1>
<p>Note that only admins of teams and the system admin can remove users from
roles.</p>
<p>
<form method="post">
<label for="email">Email to apply remove to</label>
<input name="email" type="email" required />
<label for="role">Project role to remove from user</label>
<input name="role" type="text" required />
<input type=submit>
</form>
</p>
