<div class='auth-header'>
  <h2>Password Reset Error</h2>
</div>

<div class='alert alert-danger'>
  <p>{{error}}</p>
</div>

<p>This could be because:</p>
<ul>
  <li>The reset link has expired (links are valid for a limited time)</li>
  <li>The reset link has already been used</li>
  <li>The reset link was incorrectly copied or typed</li>
</ul>

<div class='button-container'>
  <a href='{{forgotPasswordUrl}}' class='auth-button'>Request New Reset Link</a>
  <a href='{{loginUrl}}' class='auth-button-outline'>Back to Login</a>
</div>