PROFILE_NAME=default
DEVELOPER_MODE=false

# Public name for this instance
CONDUCTOR_INSTANCE_NAME="Fieldmark Demo Server"
CONDUCTOR_DESCRIPTION="Demo server for evaluation of Fieldmark"
CONDUCTOR_SHORT_CODE_PREFIX="DEMO"
SUBDOMAIN=demo.fieldmark.app

COUCHDB_USER=admin
COUCHDB_PUBLIC_URL=https://db.${SUBDOMAIN}
CONDUCTOR_PUBLIC_URL=https://conductor.${SUBDOMAIN}
CONDUCTOR_INTERNAL_PORT=8000
CONDUCTOR_AUTH_PROVIDERS=google


GOOGLE_CLIENT_ID=<client id>
GOOGLE_CLIENT_SECRET=<client secret>
COUCHDB_PASSWORD=<a password>
FAIMS_COOKIE_SECRET=<a secret>