@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700;900&display=swap');

.recordstepper::-webkit-scrollbar {
    display: none;
}
.support-link{
    color:black;
    text-decoration:none;
}
.bg-primary-gradient{
    background: linear-gradient(#5C5A5A, #EDEEEB);
}

/* class for conflict warnings */
.bg-warning{
    background-color: #FDF4E7;
}

/* MUI datagrid pagination: bold for total row count emphasis */
.MuiTablePagination-displayedRows {font-weight: 600}

/* Record links table header*/
.faims-record-link--header{
    background-color: #e0e0e0;
    font-weight:700
}
