body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ol-zoom {
  position: absolute;
  right: 12px;
  bottom: 12px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
}

.ol-zoom-in {
  font-size: 24px;
  background-color: rgb(23 23 23);
  color: white;
  font-weight: bold;
  border-radius: 6px;
}

.ol-zoom-out {
  font-size: 24px;
  background-color: rgb(23 23 23);
  color: white;
  font-weight: bold;
  border-radius: 6px;
}