.mapInputWidget {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 100px;
    z-index: 100;
}

.mapContainer {
    grid-row: 1;
}

.mapSubmitButton {
    grid-row: 2;
}
