.code {
  width: 90%;
  white-space: pre-wrap;
  font-family: monospace;
  font-size: 1.2rem;
  background-color: #eee;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.mdxEditor {
  font-family: 'Open Sans', sans-serif;
}
