<?xml version='1.0' encoding='utf-8'?>
<resources>
    <string name="app_name">APPNAME</string>
    <string name="title_activity_main">APPNAME</string>
    <string name="package_name">org.fedarch.faims3</string>
    <string name="custom_url_scheme">org.fedarch.faims3</string>
</resources>
