@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700;900&display=swap');

.recordstepper::-webkit-scrollbar {
    display: none;
}
.support-link{
    color:black;
    text-decoration:none;
}
.bg-primary-gradient{
    background-color: #5C5A5A; /* linear-gradient(0deg, rgba(200,159,253,1) 0%, rgba(34,63,142,1) 58%);*/
    /* I want to use a background image, let it fit top to bottom, let it flow off the sides depending on dimensions. */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    background-clip: border-box;
    background-origin: content-box;
    /* The image covers under the footer, but we're going to deal with it for now */
    background-attachment: fixed;

    /* The background image is from the local server, /static/background/background-orange.jpg */
    background-image: url('background-5C5A5A.jpg');
}
/* class for conflict warnings */
.bg-warning{
    background-color: #FDF4E7;
}

/* MUI datagrid pagination: bold for total row count emphasis */
.MuiTablePagination-displayedRows {font-weight: 600}

/* Record links table header*/
.faims-record-link--header{
    background-color: #e0e0e0;
    font-weight:700
}
