@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700;900&display=swap');

.recordstepper::-webkit-scrollbar {
    display: none;
}
.support-link{
    color:#9e9e9e;
    text-decoration:none;
}
