# Compose expects each line in an env file to be in VAR=VAL format.
# Lines beginning with # are processed as comments and ignored.
# Blank lines are ignored.
# There is no special handling of quotation marks. This means that they are part of the VAL.

# compose variables
PROFILE_NAME=local-dev

# Public name for this instance
CONDUCTOR_INSTANCE_NAME="Development FAIMS Server"

# couchdb configuration
COUCHDB_USER=admin
COUCHDB_PASSWORD=aSecretPasswordThatCantBeGuessed

# Port for external requests to couchdb (mapped by docker compose)
COUCHDB_EXTERNAL_PORT=5984

# URL used internally to talk to CouchDB. In a docker compose setup 
# this should reference the host 'couchdb'
COUCHDB_INTERNAL_URL=http://couchdb:5984/

# public URL for the couchdb service, including e.g. a public domain name
COUCHDB_PUBLIC_URL=http://localhost:5984/

# Port for external requests to conductor (mapped by docker compose)
CONDUCTOR_EXTERNAL_PORT=8080
# Port used inside the conductor container
CONDUCTOR_INTERNAL_PORT=8000 
# public URL for the conductor service, include e.g. public domain name
CONDUCTOR_PUBLIC_URL=http://localhost:8080

# urls for apps
WEB_APP_PUBLIC_URL=http://localhost:3000
ANDROID_APP_PUBLIC_URL=http://localhost:3000
IOS_APP_PUBLIC_URL=http://localhost:3000


# You will need to change this to be the correct 
# client-id/secrets, delimited by ';' no spaces. 
CONDUCTOR_AUTH_PROVIDERS=google

GOOGLE_CLIENT_ID=replace-me
GOOGLE_CLIENT_SECRET=replace-me


# You will need to set up a valid SMTP connection
CONDUCTOR_EMAIL_FROM_ADDRESS=noreply@localhost.test
# Usernames with @ should be escaped %40
# Documentation for string is at https://nodemailer.com/smtp/
CONDUCTOR_EMAIL_HOST_CONFIG=smtps://username:password@smtp.example.test


# You will need to generate these
FAIMS_COOKIE_SECRET=output of `uuidgen` or similar
COMMIT_VERSION=output of `git rev-parse HEAD`

