name: Build & Lint
 
on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize]
 
jobs:
  build:
    name: Build and Test
    timeout-minutes: 15
    runs-on: ubuntu-latest
    env:
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
 
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
 
      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 20.9.0
          cache: 'npm'
 
      - name: Setup node cache
        id: node-cache
        uses: actions/cache@v3
        with:
          path: "**/node_modules"
          key: npm-${{ hashFiles('package-lock.json') }}-${{ hashFiles('package.json') }}
          restore-keys: npm-

      - name: Install dependencies
        if: steps.node-cache.outputs.cache-hit != 'true'
        run: npm i

      - name: Configure Turborepo Remote Cache
        run: |
          mkdir -p .turbo
          if [ -n "${{ vars.TURBO_API_URL }}" ]; then
            echo '{"apiurl": "${{ vars.TURBO_API_URL }}"}' > .turbo/config.json
            echo "Turborepo config file created at .turbo/config.json"
          else
            echo "TURBO_API_URL not set. Skipping Turborepo cache configuration."
          fi
          if [ -n "$TURBO_TEAM" ] && [ -n "$TURBO_TOKEN" ]; then
            echo "TURBO_TEAM and TURBO_TOKEN environment variables set"
          else
            echo "TURBO_TEAM and/or TURBO_TOKEN not set. Remote caching may not be available."
          fi
      
      - name: Lint
        run: npm run lint
        
      - name: Build
        run: npm run build

      - name: API Unit tests
        run: |
          cd api
          cp .env.dist .env
          ./keymanagement/makeInstanceKeys.sh
          cd ..
          npx turbo run test --filter=@faims3/api
 